<html>
	<head>
		<link rel="stylesheet" href="styles.css" type="text/css" />
		<meta charset="utf-8">
		<title>View by Features</title>
	</head>
	<body>
		<div class="header">
			<h1 class="heading"> <a href="/">GPU Information</a> </h1>
			<div class="login-logout-box">
			<div class="user-info">
	
			</div>
			<div class="login-info"><a href='{{ logout_url }}'>Logout</a></div>
			</div>
		</div>
		
		<div class="main-container">
			<div class="menu">
				<ul>
 					<li><a href="/">Add</a></li>
  					<li><a href="/view">View</a></li>
					<li><a href="/viewfeatures">View by Features</a></li>
  					<li><a href="/compare">Compare</a></li>
				</ul>
			</div>
			
			<div class="show-title">View GPUs by features</div>
			
			<table class="show-value">
				<thead>
					<th>devicename</th>
					<th>manufacturer</th>
					<th>dateissued</th>
					<th>geometryShader</th>
					<th>tesselationShader</th>
					<th>shaderInt16</th>
					<th>sparseBinding</th>
					<th>textureCompressionETC2</th>
					<th>vertexPipelineStoresAndAtomics</th>
					
				</thead>
				{% for i in gpulist %}
				<tr>
					<td>{{ i.devicename }}</td>
					<td>{{ i.manufacturer }}</td>
					<td>{{ i.dateissued }}</td>
					<td>{{ i.geometryShader }}</td>
					<td>{{ i.tesselationShader }}</td>
					<td>{{ i.shaderInt16 }}</td>
					<td>{{ i.sparseBinding }}</td>
					<td>{{ i.textureCompressionETC2 }}</td>
					<td>{{ i.vertexPipelineStoresAndAtomics }}</td>
					
				</tr>
				{% endfor %}
			</table>
		</div>

	</body>
</html>